body{
    background: #1e1e1e;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: Arial, sans-serif;
}

.screen{
    background:#98cb98;
    border:8px solid #222;
    border-radius:15px;
    padding:80px;
    height:220px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.screen img{
    width:120px;
    height:120px;
}

.top-light{
    width:60px;
    height:60px;
    background:#42a5f5;
    border-radius:50%;
    border:5px solid #fff;
    box-shadow:0 0 20px #42a5f5;
    margin-bottom:20px;
}